<aside id="menu" <% if(page.layout === 'page' || (is_post() && theme.hideMenu)){ %>class="hide"<% } %> >
  <div class="inner flex-row-vertical">
    <div class="brand-wrap">
      <div class="brand">
        <a href="<%- url_for(theme.avatar_link) %>" class="avatar">
          <img src="<%- url_for(theme.avatar) %>">
        </a>
        <hgroup class="introduce">
          <h4 class="nickname" style="font-weight: 500;"><%- config.author %></h4>
          <p class="bio">A DevOps engineer, in love with Golang, mainly working on Prometheus and Kubernetes.</p>
        </hgroup>
      </div>
    </div>
    <div class="scroll-wrap flex-col">
      <ul class="nav">
        <%
          var menuItem, isActive = function(item) {
              var pageUrl = url_for(page.path)
              return item.url === '/' ? pageUrl === url_for(item.url + 'index.html') : pageUrl.startsWith(url_for(item.url))
          };
          for (var i in theme.menu) {
            menuItem = theme.menu[i];
          %>
            <li class="<% if(isActive(menuItem)){ %> active<% } %>">
              <a href="<%- url_for(menuItem.url) %>" <% if(menuItem.target){ %>target="_blank"<% } %> >
                <i class="icon icon-lg icon-<%= i %>"></i>
                <%= menuItem.text %>
              </a>
            </li>
        <% } %>
      </ul>
    </div>
  </div>
</aside>
